<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adlternative.tinyhacknews.mapper.NewsMapper">


    <select id="selectByAuthorId" resultType="com.adlternative.tinyhacknews.entity.News">
        select *
        from news
        where author_id = #{authorId}
          and is_deleted = 0
    </select>
    <select id="selectAllInOrder" resultType="com.adlternative.tinyhacknews.entity.News">
        select *
        from news
        where is_deleted = 0
        <choose>
            <when test="news_type.toString() == 'SHOW'">
                and news_type = 'SHOW'
            </when>
            <when test="news_type.toString() == 'ASK'">
                and news_type = 'ASK'
            </when>
            <when test="news_type.toString() == 'JOBS'">
                and news_type = 'JOBS'
            </when>
        </choose>
        <if test="date != null and date != ''">
            AND DATE_FORMAT(created_at, '%Y-%m-%d') = #{date}
        </if>
        ORDER BY updated_at
        <choose>
            <when test="order.toString() == 'DATE_ASC'"/>
            <otherwise>
                DESC
            </otherwise>
        </choose>

    </select>
</mapper>
